# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# other files
bin/dropz
bin/dropz.exe
bin/dropz.dmg
bin/dropz.app
bin/dropz.app.zip
bin/dropz.app.tar.gz
bin/dropz.app.tar.xz

data/dropz.json

logs/dropz.log

frontend/node_modules
frontend/dist
frontend/build
frontend/coverage

frontend/videos
frontend/data/
frontend/logs/

videos/

proof_of_concept

.vscode/

TODO.md

dropz
